<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
<div th:fragment="menu-user-esquerdo" >
	<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Livraria DSC
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item"><a data-togle="collapse" class="nav-link"
                                  th:href="@{/usuario/portal-user}">
				<i
                  class="material-icons">home</i>
            <p>Home</p>
          </a></li>
          <li class="nav-item"><a id="url-my-dados" data-togle="collapse" class="nav-link"
                                  >

            <p>Meus Dados</p>
          </a></li>
          
          <li class="nav-item" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne"><a class="nav-link"> <i
                  class="material-icons">assignment</i>
            <p>Cadastros</p>
          </a>
            <div id="collapseOne" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="nav">
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/}">
                  <p>Fazer novo pedido</p>
                </a></li>

              </ul>

            </div></li>

          <li class="nav-item" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo"><a class="nav-link"> <i
                  class="material-icons">view_list</i>
            <p>Consultar Pedidos</p>
          </a>
            <div id="collapseTwo" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="nav">
                <li class="nav-item"><a id="url-my-pedido" data-togle="collapse"
                                        class="nav-link">

                  <p>Listar Pedidos</p>
                </a></li>
                <li class="nav-item"><a id="url-my-compras" data-togle="collapse"
                                        class="nav-link">

                  <p>Listar Compras</p>
                </a></li>
              </ul>

            </div></li>
            
          <li class="nav-item"><a id="sair" data-togle="collapse" class="nav-link"
                                  >
				<i
                  class="material-icons"></i>
            <p>Sair</p>
          </a></li>
            <script type="text/javascript">
				/*$(document).ready(function () {
					*/
					if(session.getSession("user") != null){
						var name = document.getElementById("user-name");
						if(name != null){
							name.textContent = " "+session.getSession("user")._nomeUsuario
						}
					}
					$("#url-my-dados").click(function () {
						if(session.getSession("user") != null) {
							var id = session.getSession("user")._idUsuario;
                          window.location.replace("/usuario/mydados/" + id);
						}else{
                          window.location.replace("/");
						}
					});
					
					$("#url-my-pedido").click(function(){
						if(session.getSession("user") != null){
							var id = session.getSession("user")._idUsuario;
                          window.location.replace("/pedido/myPedidos/"+id);
						}else{
                          window.location.replace("/");
						}
					});
					
					$("#url-my-compras").click(function(){
						if(session.getSession("user") != null){
							var id = session.getSession("user")._idUsuario;
	                        window.location.replace("/usuario/listaComprasUsuario/"+id);
						}else{
                          window.location.replace("/");
						}
					});
					
					$("#sair").click(function(){
						session.clearSession("user");
						window.location.replace("/");
					});
				//});
			</script>
        </ul>
      </div>
    </div>
	</div>

</body>
</html>