<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
<div th:fragment="menu-esquerdo" >
	<div class="sidebar" data-color="purple" data-background-color="black" data-image="../assets/img/sidebar-2.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          Livraria DSC
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item"><a data-togle="collapse" class="nav-link"
                                  th:href="@{/administrador/portal-admin}">
			<i
                  class="material-icons">home</i>
            <p>Home</p>
          </a></li>
          <li class="nav-item" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false"
              aria-controls="collapseOne"><a class="nav-link"> <i
                  class="material-icons">assignment</i>
            <p>Cadastros</p>
          </a>
            <div id="collapseOne" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="nav">
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/categoria/cadastro-categoria}">

                  <p>Cadastrar Categoria</p>
                </a></li>

                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/editora/cadastro-editora}">

                  <p>Cadastrar Editora</p>
                </a></li>

                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/livro/cadastro-livro}">

                  <p>Cadastrar Livro</p>
                </a></li>

                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/autor/cadastro-autor}">

                  <p>Cadastrar Autor</p>
                </a></li>
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/promocao/cadastro-promocao}">

                  <p>Cadastrar Promoção</p>
                </a></li>
              </ul>

            </div></li>

          <li class="nav-item" data-toggle="collapse"
              data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo"><a class="nav-link"> <i
                  class="material-icons">view_list</i>
            <p>Consultas</p>
          </a>
            <div id="collapseTwo" class="collapse"
                 aria-labelledby="headingOne" data-parent="#accordion">
              <ul class="nav">
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/categoria/listaCategorias}">
                  <p>Listar Categoria</p>

                </a></li>

                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/editora/listaEditora}">
                  <p>Listar Editora</p>
                </a></li>

                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/livro/listaLivro}">

                  <p>Listar Livro</p>
                </a></li>

                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/autor/listaAutor}">

                  <p>Listar Autor</p>
                </a></li>
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/pedido/listaPedidos}">

                  <p>Listar Pedidos</p>
                </a></li>
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/compra/listaCompras}">

                  <p>Listar Compras</p>
                </a></li>
                <li class="nav-item"><a data-togle="collapse"
                                        class="nav-link" th:href="@{/promocao/listaPromocao}">

                  <p>Listar promoção</p>
                </a></li>
              </ul>

            </div></li>
        </ul>
      </div>
    </div>
	</div>

</body>
</html>