<!DOCTYPE html>
<html
        xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout-user}">
<head>
<title>User Update de dados</title>
<meta charset="UTF-8">
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo-user">
        <div class="content-wrapper">
        	<div class="content">
            	<div class="container-fluid">
                	<div class="row">
                    	<div class="col-md-12">
	                    	<th:block th:if="${success != null}">
	                    		<div class="alert alert-success">
	                    			<span th:text="${success}"></span>
	                    		</div>
                    		</th:block>
                    		<th:block th:if="${error != null}">
	                    		<div class="alert alert-danger">
	                    			<span th:text="${error}"></span>
	                    		</div>
                    		</th:block>
                    		<br />
	                    	<br />
                        	<div class="card">
                            	<div class="card-header card-header-success">
                                	<h4 class="card-title">Alterar seus dados</h4>
                                	<p class="card-category">campos obrigatorios <span style="color: red">*</span></p>
                            	</div>
                            	<div class="card-body">
                                	<form th:object="${usuario}" th:action="@{/usuario/saveUsuarioUpdate}" id="form-update-user" method="POST">
                                    	<input id="id" name="id" type="hidden" th:field="*{id}"
                                           th:value="*{id}">
                                       <div class="row">
                                           <div class="col-md-6">
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Nome<span style="color: red"> *</span></label>
                                                   <input type="text" id="update-user-nome" th:field="*{nome}" class="form-input">
                                                   <div id="update-user-nome-div" class="alert alert-danger">
                                                   </div>
                                               </div>
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Email<span style="color: red"> *</span></label>
                                                   <input type="text" id="update-user-email" th:field="*{email}" class="form-input">
                                                   <div id="update-user-email-div" class="alert alert-danger">
                                                   </div>
                                               </div>
                                            </div>   
                                     	</div>   
                                     	<div class="row">     
                                     	 	<div class="col-md-6">	    
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Municipio<span style="color: red"> *</span></label>
                                                   <input type="text" id="update-user-municipio" th:field="*{municipio}" class="form-input">
                                                   <div id="update-user-municipio-div" class="alert alert-danger">
                                                   </div>
                                               </div>
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Estado<span style="color: red"> *</span></label>
                                                   <input type="text" id="update-user-estado" th:field="*{estado}" class="form-input">
                                                   <div id="update-user-estado-div" class="alert alert-danger">
                                                   </div>
                                               </div>
                                           </div>    
                                        </div>       
                                       <div class="row">      
                                       		 <div class="col-md-6">  
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Bairro<span style="color: red"> *</span></label>
                                                   <input type="text" id="update-user-bairro" th:field="*{bairro}" class="form-input">
                                                   <div id="update-user-bairro-div" class="alert alert-danger">
                                                   </div>
                                               </div>
                                               <div class="form-group">
                                                   <label class="bmd-label-floating">Rua<span style="color: red"> *</span></label>
                                                   <input type="text" id="update-user-rua" th:field="*{rua}" class="form-input">
                                                   <div id="update-user-rua-div" class="alert alert-danger">
                                                   </div>
                                               </div>
                                            </div>   
                                           </div>
                                    <button id="update-user" class="btn btn-success pull-right">Cadastrar</button>
                                    <button type="reset" id="update-reset-user" class="btn btn-danger pull-right">Limpar Campos</button>
                                    <div class="clearfix"></div>
                                	</form>
                            	</div>
                        	</div>
                    	</div>
                	</div>
            	</div>
        	</div>
        </div>
</body>
</html>
