<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout-user}">
<head>
<meta charset="UTF-8">
<title>Lista de Compras</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo-user">
		<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Lista de Compras</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                    	<thead>
                                    		<th>ID</th>
                                    		<th>VALOR COMPRA</th>
                                    		<th>TÍTULO LIVRO</th>
                                    	</thead>
                                        <tbody>
	                                        <tr th:each="compra : ${compras}">
	                                            <td th:text="${compra.id}"></td>
	                                            <td th:text="${compra.valorCompra}"></td> 
	                                            <th:block th:each="pedido : ${compra.pedidos}">
	                                            	<th:block th:each="livro : ${pedido.livros}">
			                                            <td th:text="${livro.titulo}"></td>
	                                            	</th:block>	     
                                           		 </th:block>                                                                                      
	                                        </tr>                                        	
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</body>
</html>