<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Lista de Livros</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        	<th:block th:if="${error != null}">
	                    		<div class="alert alert-danger">
	                    			<span th:text="${error}"></span>
	                    		</div>
                    		</th:block>
	                    	<th:block th:if="${success != null}">
	                    		<div class="alert alert-success">
	                    			<span th:text="${success}"></span>
	                    		</div>
	                    	</th:block>
	                    	<br />
	                    	<br />
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Lista de Autores</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Email</th>
                                            <th>CPF</th>
                                            <th>Livros</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="autor : ${autores}">
                                            <td th:text="${autor.id}"></td>
                                            <td th:text="${autor.nome}"></td>
                                            <td th:text="${autor.email}"></td>
                                            <td th:text="${autor.cpf}"></td>
                                            <th:block th:each="livro : ${autor.livros}">
                                            	<td th:text="${livro.titulo}">
                                            </th:block>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-sm btn-success" th:href="@{autor/updateAutor/{id}(id=${autor.id})}"
                                                    >Editar</a> <a
                                                        class="delete btn btn-sm btn-danger"
                                                        th:href="@{autor/deleteAutor/{id}(id=${autor.id})}">Excluir</a>
                                                </div>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                    <a class="btn btn-primary" th:href="@{autor/cadastro-autor}">Adiciona Novo Autor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</body>
</html>