<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Livraria DSC</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>
<body>
    <div class="container-livraria">
        <div class="body-login">
            <img class="logo-img" src="https://telepesquisa.com/api_images/system/clientes/logos/000/246/825/large/024882_Mundo_Livraria.png">
            <form>
                <label for="email">Email</label>
                <input id="email" type="email" class="input" /><br />
                <br />
                <label for="senha">Senha</label>
                <input id="senha" type="password" class="input" /><br />
                <br />
                <button class="button button-sucesso">Entrar</button>
            </form>
        </div>
    </div>
</body>
</html>