<!DOCTYPE html>
<html lang="br" 
xmlns:th="http://www.thymeleaf.org"
layout:decorate="~{layout-site}"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home | Livraria</title>
</head><!--/head-->
<body>
	<div layout:fragment="corpo-site">
		<section>
				<div class="container">
					<div th:replace="/fragmentos/site/menu_vertical :: menu-vertical"></div>
					<div class="col-sm-9 padding-right">
							<div class="features_items"><!--features_items-->
								<h2 class="title text-center">Livros</h2>
									<div th:each="livro : ${livros}">
										<div class="col-sm-4">
											<div class="product-image-wrapper">
												<div class="single-products">
													
														<div class="productinfo text-center">
															<img th:src="@{${livro.urlImagem}}" alt="" />
															<h2 th:text="${livro.preco}"></h2>
															<p th:text="${livro.titulo}"></p>
															<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Detalhes</a>
														</div>
														<div class="product-overlay">
															<div class="overlay-content">
																<h2 th:text="${livro.preco}"></h2>
																<p th:text="${livro.titulo}"></p>
																<a th:href="@{/livro/detalheLivro/{id}(id=${livro.id})}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Detalhes</a>
															</div>
														</div>
													
												</div>
											</div>
										</div>
								</div>	
							</div><!--features_items-->
							<div class="category-tab"><!--category-tab-->

							</div><!--/category-tab-->
							
							<div class="recommended_items"><!--recommended_items-->

							</div><!--/recommended_items-->
							
						</div>
				</div>
			</section>
	</div>

</body>
</html>