<!DOCTYPE html>
<html lang="br" 
layout:decorate="~{layout-site}"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Account | Livraria</title>
</head><!--/head-->

<body>
	<div layout:fragment="corpo-site">
		<section><!--form-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div id="error-usuario" class="alert alert-danger">
					<!--  		<span id="usuario-invalido" th:text="${usuario-invalido}"></span> -->
						</div>
						<div class="login-form"><!--login form-->
							<h2>Login to your account</h2>
							<form th:action="@{/login}" method="post">
								<input type="text" name="email" placeholder="Email" />
								<input type="password" name="senha" placeholder="senha" />
								<button type="submit" class="btn btn-default">Login</button>
							</form>
						</div><!--/login form-->
					</div>
					<div class="col-sm-1">
						<h2 class="or">OR</h2>
					</div>
					<div class="col-sm-4">
						<div id="success" class="alert alert-success">
							<span id="teste" th:text="${mensagem}"></span>
						</div>
						<div id="error" class="alert alert-danger">
							<span id="teste2" th:text="${error}"></span>
						</div>
						
						<div class="signup-form"><!--sign up form-->
							<h2>Cadastra-se na Livraria</h2>
							<form id="form1" th:action="@{/usuario/saveUsuario}" th:object="${usuario}" method="post">
								<input type="text" th:field="*{nome}" placeholder="Nome"/>
								<input type="email" th:field="*{email}" placeholder="Email Address"/>
								<div id="email-div"></div>
								<input type="password" th:field="*{senha}" placeholder="Password"/>
								<input type="text" placeholder="00000-000" id="cep">
								<p id="alert-preenche-cep"></p>
	                            <p id="alert-numero-cep"></p>
								<div id="cep-div"></div>
								<input type="text" th:field="*{municipio}" id="cidade">
								<div id="cidade-div">
	                            </div>
								<input type="text" th:field="*{estado}" id="estado">
								<div id="estado-div">
	                            </div>
								<input type="text" th:field="*{rua}" placeholder="Rua"/>
								<input type="text" th:field="*{bairro}" placeholder="Bairro"/>
								<button id="cadastro" class="btn btn-default">Signup</button>
							</form>
						</div><!--/sign up form-->
					</div>
				</div>
			</div>
		</section><!--/form-->
	
	</div>
</body>
</html>