<!DOCTYPE html>
<html lang="br" 
layout:decorate="~{layout-site}"
>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Account | Livraria</title>
</head><!--/head-->

<body>
	<div layout:fragment="corpo-site">
		<section><!--form-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4 col-sm-offset-1">
						<div id="father-login" class="alert alert-danger">

						</div>
						<th:block th:if="${param.error}">
							<div id="error-usuario" class="alert alert-danger">
						  		<span id="usuario-invalido">Usuário e/ou inválidos!</span> 
							</div>
						</th:block>	
						<div class="login-form"><!--login form-->
							<h2>Faça login na sua conta</h2>
							<form action="/entrar" method="post">
								<input type="text" id="email-login" name="username" placeholder="Email" />
								<input type="password" id="senha-login" name="password" placeholder="senha" />
								<button id="login" class="btn btn-default">Login</button>
							</form>
						</div><!--/login form-->
					</div>
					<div class="col-sm-1">
						<h2 class="or">OR</h2>
					</div>
					<div class="col-sm-4">
						<th:block th:if="${mensagem != null}">
							<div id="success" class="alert alert-success">
								<span id="teste" th:text="${mensagem}"></span>
							</div>
						</th:block>
						<th:block th:if="${error != null}">
						<div id="error" class="alert alert-danger">
							<span id="teste2" th:text="${error}"></span>
						</div>
						</th:block>
						<div id="father-cadastro" class="alert alert-danger">

						</div>
						<div class="signup-form"><!--sign up form-->
							<h2>Cadastra-se na Livraria</h2>
						  	<form id="form1" th:action="@{/usuario/saveUsuario}" th:object="${usuario}" method="post">
								<input type="text" id="nome" th:field="*{nome}" placeholder="Nome"/>
								<div class="alert alert-danger" id="nome-div"></div>
								<input type="email" id="email" th:field="*{email}" placeholder="Email Address"/>
								<div class="alert alert-danger" id="email-div"></div>
								<input type="password" id="senha" th:field="*{senha}" placeholder="Password"/>
								<div class="alert alert-danger" id="senha-div"></div>
								<input type="password" id="senha-confirmar" placeholder="Confirmar Password"/>
								<div class="alert alert-danger" id="senha-confirmar-div"></div>
								<input type="text" placeholder="00000-000" id="cep">
								<p id="alert-preenche-cep"></p>
	                            <p id="alert-numero-cep"></p>
								<div class="alert alert-danger" id="cep-div"></div>
								<input type="text" th:field="*{municipio}" id="cidade">
								<div class="alert alert-danger" id="cidade-div">
	                            </div>
								<input type="text" th:field="*{estado}" id="estado">
								<div class="alert alert-danger" id="estado-div">
	                            </div>
								<input type="text" th:field="*{rua}" placeholder="Rua"/>
								<div class="alert alert-danger" id="rua-div">
								</div>
								<input type="text" th:field="*{bairro}" placeholder="Bairro"/>
								<div class="alert alert-danger" id="bairro-div">
								</div>
								<button id="cadastro-usuario" class="btn btn-default">Signup</button>
							</form>
						</div><!--/sign up form-->
						
					</div>
				</div>
			</div>
		</section><!--/form-->

	</div>
</body>
</html>