<!DOCTYPE html>
<html 
	layout:decorate="~{layout-site-2}">
<head>
    <title>Home | Livraria</title>
     
</head><!--/head-->

<body>
	<div layout:fragment="corpo-site-2">
		<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<th:block th:if="${not #lists.isEmpty(livros)}">
				<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Itens</td>
							<td class="description"></td>
							<td class="price">Preço</td>
							<td class="quantity">Quantidade</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
						<th:block th:each="livro : ${livros}">
							<tr>
								<td class="cart_product">
									<a href=""><img th:src="${livro.urlImagem}" width="100" alt=""></a>
								</td>
								<td class="cart_description">
									<h4 th:text="${livro.titulo}"></h4>
									<p>ISBN <p th:text="${livro.isbn}"></p></p>
								</td>

								<th:block th:each="pedido : ${livro.pedidos}">
									<td class="cart_price">
										<p th:text="${livro.preco}"></p>
									</td>
									<td class="cart_quantity">
										<div class="cart_quantity_button">
											<span th:text="${pedido.quantidade}">
										</div>
									</td>									 
									<td class="cart_total">
										<p class="cart_total_price" th:text="${pedido.valorTotal}"></p>
									</td>
								</th:block>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>			
			</th:block>
			<th:block th:if="${#lists.isEmpty(livros)}">
										<div class="col-sm-4">
													<div class="product-image-wrapper">
														<div class="single-products">
																<p>Usuário não fez nenhum pedido!</p>
															
														</div>
														<div class="choose">
														</div>
													</div>
												</div>
									</th:block>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">

	</section><!--/#do_action-->
	</div>	
</body>
</html>