<!DOCTYPE html>
<html 
	layout:decorate="~{layout-site-2}">
<head>
    <title>Home | Livraria</title>
     
</head><!--/head-->

<body>
	<div layout:fragment="corpo-site-2">
		<section>
			<div class="container">
			<div th:replace="/fragmentos/site/menu_vertical :: menu-vertical"></div>
			<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<img th:src="${livro.urlImagem}" />
							</div>
						</div>	
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<h2 th:text="${livro.titulo}"></h2>
								<input type="hidden" id="idLivro" th:value="${livro.id}"/> 
								<p><b>ISBN:</b> <p th:text="${livro.isbn}"></p></p>
								<img src="images/product-details/rating.png" alt="">
								<span>
									<span id="preco" th:text="${livro.preco}"></span>
									<label>Quantidade:</label>
									<input type="text" id="quantidade" value="1">
									<input type="hidden" id="peso" th:value="${livro.peso}" />
									<button id="addPedido" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>
								<input id="cep" type="text"/>
								<p><b>Sinopsie:</b><p th:text="${livro.sinopsie}"> </p></p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt=""></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
					
					<div class="category-tab shop-details-tab"><!--category-tab-->

					</div><!--/category-tab-->
					
					<div class="recommended_items"><!--recommended_items-->

					</div><!--/recommended_items-->
					
				</div>
		</div>
	</div>
		</section>
	</div>	
</body>
</html>