<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Lista de Livros</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Lista de Livros</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Título</th>
                                            <th>Ano</th>
                                            <th>Sinopsie</th>
                                            <th>ISBN</th>
                                            <th>Edição</th>
                                            <th>Peso</th>
                                            <th>Editora</th>
                                            <th>Categoria</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="livro : ${livros}">
                                            <td th:text="${livro.id}"></td>
                                            <td th:text="${livro.titulo}"></td>
                                            <td th:text="${livro.ano}"></td>
                                            <td th:text="${livro.sinopsie}"></td>
                                            <td th:text="${livro.isbn}"></td>
                                            <td th:text="${livro.edicao}"></td>
                                            <td th:text="${livro.peso}"></td>
                                            <td th:text="${livro.editora.nome}"></td>
                                            <th:block th:each="categoria : ${livro.categorias}">
                                            	<td th:text="${categoria.nome}">
                                            </th:block>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-sm btn-success" th:href="@{/livro/updateLivro/{id}(id=${livro.id})}"
                                                    >Editar</a> <a
                                                        class="delete btn btn-sm btn-danger"
                                                        th:href="@{/livro/deleteLivro/{id}(id=${livro.id})}">Excluir</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a class="btn btn-primary" th:href="@{/livro/cadastro-livro}">Adiciona Novo Livro</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</body>
</html>