<!DOCTYPE html>
<html xmlns:layout="http://ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorate="~{layout}">
<head>
<meta charset="UTF-8">
<title>Lista de Editoras</title>
</head>
<body>
	<div class="content-wrapper" layout:fragment="corpo">
		<div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                        	<th:block th:if="${error != null}">
	                    		<div class="alert alert-danger">
	                    			<span th:text="${error}"></span>
	                    		</div>
                    		</th:block>
	                    	<th:block th:if="${success != null}">
	                    		<div class="alert alert-success">
	                    			<span th:text="${success}"></span>
	                    		</div>
	                    	</th:block>
	                    	<br />
	                    	<br />
                            <div class="card-header card-header-success">
                                <h4 class="card-title">Lista de Editoras</h4>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Nome</th>
                                            <th>Cidade</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="editora : ${editoras}">
                                            <td th:text="${editora.id}"></td>
                                            <td th:text="${editora.nome}"></td>
                                            <td th:text="${editora.cidade}"></td>
                                            <td>
                                                <div class="btn-group pull-right">
                                                    <a class="btn btn-sm btn-success" th:href="@{/editora/updateEditora/{id}(id=${editora.id})}"
                                                    >Editar</a> <a
                                                        class="delete btn btn-sm btn-danger"
                                                        th:href="@{/editora/deleteEditora/{id}(id=${editora.id})}">Excluir</a>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <a class="btn btn-primary" th:href="@{/editora/cadastro-editora}">Adiciona Nova Editora</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
	</div>
</body>
</html>