<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
	<div th:fragment="menu-vertical">
		<div class="row">
			<div class="col-sm-3">
				<div class="left-sidebar">
					<h2>Category</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						<th:block th:each="categoria : ${categorias}">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a th:href="@{/livro/lista-livros-categoria/{id}(id=${categoria.id})}" th:text="${categoria.nome}"></a></h4>
								</div>
							</div>
						</th:block>
					</div><!--/category-products-->
				
					<div class="brands_products"><!--brands_products-->

					</div><!--/brands_products-->
					
					<div class="price-range"><!--price-range-->

					</div><!--/price-range-->
					
					<div class="shipping text-center"><!--shipping-->

					</div><!--/shipping-->
				
				</div>
			</div>
				
</body>
</html>