<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Menu</title>
</head>
<body>
	<div th:fragment="menu-vertical">
		<div class="col-sm-3">
			<div class="left-sidebar">
					<h2>Categorias</h2>
					<div class="panel-group category-products" id="accordian"><!--category-productsr-->
						<th:block th:each="categoria : ${categorias}">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a th:href="@{/livro/lista-livros-categoria/{id}(id=${categoria.id})}" th:text="${categoria.nome}"></a></h4>
								</div>
							</div>
						</th:block>
					</div><!--/category-products-->
				
					<div class="brands_products"><!--brands_products-->
							<h2>Preços</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									<li><a th:href="@{/livro/buscaValoresIntervalors/10.00/60.00}"> <span class="pull-right" th:text="'('+${count10And60}+')'"></span>R$ 10,00 a R$ 60,00</a></li>
									<li><a th:href="@{/livro/buscaValoresIntervalors/60.00/100.00}"> <span class="pull-right" th:text="'('+${count60And100}+')'"></span>R$ 60,00 a R$ 100,00</a></li>
									<li><a th:href="@{/livro/buscaValoresIntervalors/120.00/150.00}"> <span class="pull-right" th:text="'('+${count120And150}+')'"></span>R$ 120,00 a R$ 150,00</a></li>
									<li><a th:href="@{/livro/buscaValorMaior/150.00}"> <span class="pull-right" th:text="'('+${countMaior150}+')'"></span>A partir de R$ 150,00</a></li>
								</ul>
							</div>
						</div><!--/brands_products-->

					
					<div class="price-range"><!--price-range-->

					</div><!--/price-range-->
					
					<div class="shipping text-center"><!--shipping-->

					</div><!--/shipping-->
				
				</div>
			</div>
	</div>			
</body>
</html>